@import "tailwindcss";
@import "flowbite/src/themes/default";

body {
    font-family: "MedievalSharp", cursive;
    min-height: 100vh;
    background: linear-gradient(to bottom, #531a84, #1c092f 70%, #0a060a);
}